@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&display=swap");
body {
  font-family: "Quicksand", "Times New Roman", Times, serif, sans-serif;
  margin: 0;
  min-width: 100%;
  min-height: 100vh;
}

.certs-page {
  min-width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.certs-header {
  font-weight: lighter;
  text-decoration: underline;
  text-transform: uppercase;
  font-size: 25px;
  margin-top: 5vh;
  margin-left: 2vw;
}

.carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  width: 100vw;
  height: -moz-fit-content;
  height: fit-content;
  justify-content: center;
  text-align: center;
}

.cert {
  height: 30vw;
  border: 10px solid rgb(211, 211, 211);
  border-radius: 15px;
}

.certs-footer {
  min-height: -moz-fit-content;
  min-height: fit-content;
  margin-bottom: 2vh;
  text-align: center;
}

.links-info {
  margin-bottom: 1vh;
  text-transform: uppercase;
  font-size: 1.25em;
}

.prog-text {
  text-transform: uppercase;
  letter-spacing: 1px;
}

.prog-link {
  color: rgb(84, 84, 84);
  font-size: 1em;
  text-decoration: none;
  display: flex;
  justify-content: center;
  margin-bottom: 1vh;
}
.prog-link:hover {
  color: rgb(255, 157, 0);
  font-weight: bold;
  cursor: pointer;
}

@media (max-width: 950px) {
  .certs-header {
    text-align: center;
    font-size: 1.5em;
    margin-top: 0;
  }
  .carousel {
    height: 700px;
  }
  .cert {
    height: 30vh;
    width: auto;
  }
}